@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Syne", sans-serif;
}

@keyframes growArrow {
  from { transform: scaleX(0); opacity: 0; }
  40% { opacity: 1; }
  to { transform: scaleX(1); opacity: 1; }
}